

#Header {
    display:flex;
    justify-content: space-between;
    flex-wrap : wrap;
    border: 3px solid rgb(73, 31, 31);
    padding: 10px
}
 #image {
    width: 100
} 
.Nav-tags > ul {
    list-style-type: none;
    display : flex;
    justify-content: space-between;
    padding: 10px;   
    background-color: rgb(168, 165, 159);
    
}
.Nav-tags >ul>li{
    display: inline;
    justify-content : space-between;
    padding :5px;
    border: 1px solid black;
}


.Cards {
    
    width : 250px;
    height: 400px;
    border : 2px solid black;
    flex-wrap: wrap;
    display : flex;
    margin: 2px;
    
    
    
    
}
.Cards > ul{
    list-style-type: none;
    margin : 2px;
    justify-items: space-between;
    flex-wrap: wrap;

    

}

.Cards > img {
    height : 200;
    width : 96%;
    
    margin: 5px ;

}
.Cards > ul > li:first-child {
     /* padding: 3px; */
    /* background-image:linear-gradient(rgb(194, 134, 134));
    font : italic bold;
    flex-wrap: wrap;
    size: 12;  */
    
    background: #cce5ff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:normal bold;
  color: darkblue;
  margin: 3px;
  border: 2px solid black;
}
#cardlist {
    display : flex;
    flex-wrap: wrap;
   
   
    
}
.ShimmerList {
    display : flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.ShimmerCard {

    
    height: 400px;
    width : 250px;
    background-color: rgb(202, 204, 206);
    border: 5px solid rgb(122, 117, 117);
    margin: 1px;


}


